{% extends "bpmn_app/base.html" %}

{% block header %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} form-message">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock header %}

{% block main %}
    {% for bpmn_file in bpmn_files %}
        <div class="container my-2 border border-dark rounded">
            <div class="row my-2 text-center">
                <div class="col-md my-auto">
                    <div>{{ bpmn_file.file.name }}</div>
                </div>
                <div class="col-md">
                    <a class="btn btn-primary" href="{% url 'bpmn-model-detail' bpmn_file.id %}" role="button">Filtrate</a>
                </div>
                <div class="col-md">
                    <a class="btn btn-primary" href="{% url 'events-log-detail' bpmn_file.id %}" role="button">Events log</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="container my-4">
            <p>You haven't added any bpmn models yet</p>
            <a class="btn btn-primary" href="{% url 'bpmn-model-upload' %}" role="button">Add bpmn model</a>
        </div>
    {% endfor %}
{% endblock main %}