{% extends 'bpmn_app/base.html' %}
{% load static %}

{% block header %}
    <p>Here should be dropdown for automatically selecting excel headers</p>
{% endblock header %}

{% block main %}
    <form method="POST" class="form-group border border-secondary rounded p-4 mx-auto my-5">
        {% csrf_token %}
        {% load crispy_forms_filters %}
        <div class="mb-3">
{#            <label for="file" class="form-label">Upload an events logs file: </label>#}
            {{ form | crispy }}
        </div>

        <input class="btn btn-primary mr-4" type="submit" value="Upload">
    </form>
{% endblock main %}
