{% extends "bpmn_app/base.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block main %}
    <div class="mt-5 mb-2">Filter nodes or/and edges:</div>

    <div>
        <label for="nodes">Filter nodes</label>
        <input type="range" style="display: inline;" class="slider" id="nodes" name="nodes" min="0" max="{{ color_max }}" value="0" step="1">
        <div id="nodeSliderValue" style="display: inline;">0</div>
    </div>

    <div>
        <label for="edges">Filter edges</label>
        <input type="range" style="display: inline;" class="slider" id="edges" name="edges" min="0" max="{{ trace_max }}" value="0" step="1">
        <div id="edgeSliderValue" style="display: inline;">0</div>
    </div>

    <script>
    const nodeSlider = document.querySelector('#nodes');
    const edgeSlider = document.querySelector('#edges');

    // function that changes graph after slider value changed
    function draw_graph() {
        const nodeSliderVal = nodeSlider.value
        const edgeSliderVal = edgeSlider.value

        $.ajax({
            type: "POST",
            url: '{% url 'ajax-test-view' %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                file_name: '{{ file_name }}',
                node_threshold: nodeSliderVal,
                edge_threshold: edgeSliderVal,
                case_id_col_name: '{{ case_id_col_name }}',
                timestamp_col_name: '{{ timestamp_col_name }}',
                activity_col_name: '{{ activity_col_name }}'
                },
            success:  function(response){
                const image = document.querySelector('#bpmnImg');
                const nodeSliderVal = nodeSlider.value
                const edgeSliderVal = edgeSlider.value

                const node_slider_val = document.querySelector('#nodeSliderValue')
                const edge_slider_val = document.querySelector('#edgeSliderValue')
                image.src = response;
                node_slider_val.innerHTML = nodeSliderVal;
                edge_slider_val.innerHTML = edgeSliderVal;
               }
        });
    }

    nodeSlider.addEventListener('change', draw_graph, false);
    edgeSlider.addEventListener('change', draw_graph, false);

    </script>
    <div>
        <img src="{{ img_src }}" alt="Bpmn model" id="bpmnImg">
    </div>
{% endblock main %}
